.changeItem {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--tertiary-bg);
  border-radius: 4px;
  gap: 10px;
}

.diffIcon,
.plusIcon,
.minusIcon {
  padding: 1px;
  border-radius: 3px;
  color: white;
}

.diffIcon {
  background-color: var(--file-changed);
}

.plusIcon {
  background-color: var(--file-added);
}

.minusIcon {
  background-color: var(--file-removed);
}

.changeField {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.value {
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
}

.active {
  background-color: var(--lighter-bg) !important;
}
