.windowControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.controlBtn {
  border: none;
  background: none;
  color: #d4d4d4;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  width: 50px;
  height: 45px;
  -webkit-app-region: no-drag;
}

.controlBtn svg {
  width: 20px;
  height: 20px;
  transition: inherit;
}

.controlBtn:hover {
  background-color: var(--lighter-bg);
}

.close:hover {
  background-color: red;
}

.sepparator {
  width: 1px;
  height: 60%;
  background-color: var(--lighter-bg);
  border: none;
  box-sizing: border-box;
}

.draggable {
  height: 100%;
  width: 50px;
  -webkit-app-region: drag;
}
