.tabs {
  display: flex;
  align-items: stretch;
  user-select: none;
  margin-bottom: -1px;
  align-items: flex-end;
}

.tabs svg {
  flex-shrink: 0;
}

.tab {
  display: flex;
  width: 100%;
  color: var(--secondary-text);
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 10px 15px;
  border: 1px solid var(--primary-bg);
  gap: 20px;
  transition: color 0.1s ease;
}

.tab:hover {
  color: var(--primary-text);
}

.tab.active {
  color: var(--primary-text);
  border: 1px solid var(--border-color);
  border-bottom: 1px solid var(--tertiary-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--tertiary-bg);
}

.tabIcon,
.workspaceIcon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.workspaceIcon {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.workspaceIcon:hover {
  background-color: var(--lighter-bg);
}

.closeIcon {
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.closeIcon:hover {
  background-color: red;
}
