.tabs {
  display: flex;
  align-items: stretch;
  user-select: none;
  align-items: flex-end;
  min-width: 0;
}

.tabs svg {
  flex-shrink: 0;
}

.tab {
  display: flex;
  width: 200px;
  color: var(--secondary-text);
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid var(--primary-bg);
  gap: 20px;
  transition: all 0.1s ease;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

.tab span {
  flex: 1;
  font-size: var(--font-size-tab);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab:hover {
  color: var(--primary-text);
}

.tab.active {
  color: var(--primary-text);
  border: 1px solid var(--border-color);
  border-bottom: 1px solid var(--tertiary-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--tertiary-bg);
}

.tabIcon {
  width: var(--icon-secondary-size);
  height: var(--icon-secondary-size);
  border-radius: 5px;
}

.closeIcon {
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.closeIcon:hover {
  background-color: red;
}
