.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.scrollbar {
  background-color: var(--lighter-bg);
  border-radius: 8px;
}
