.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.commit {
  cursor: pointer;
  transition: background-color 0.2 ease;
}

.commit:hover {
  background-color: var(--tertiary-bg);
}

.selected {
  background-color: var(--lighter-bg);
}

.commit.selected:hover {
  background-color: var(--lighter-bg);
}

.scrollbar {
  background-color: var(--lighter-bg);
  border-radius: 8px;
}
