.labelRect {
  fill: var(--secondary-bg);
}

.label,
.disabledLabel {
  user-select: none;
  dominant-baseline: middle;
  text-anchor: start;
  font-size: 12px;
}

.label {
  fill: var(--primary-text);
}

.disabledLabel {
  fill: var(--secondary-text);
}

.labelIcon svg,
.disabledLabelIcon svg {
  vertical-align: middle;
}

.labelIcon svg {
  fill: var(--primary-text);
}

.disabledLabelIcon svg {
  fill: var(--secondary-text);
}

.summary,
.disabledSummary {
  user-select: none;
  pointer-events: none;
  font-size: 14px;
  dominant-baseline: middle;
}

.summary {
  fill: var(--primary-text);
}

.disabledSummary {
  fill: var(--secondary-text);
}

.node {
  stroke-width: 2;
  fill: var(--primary-bg);
}

.branchPath {
  stroke-width: 2;
}
