.localChangesContainer {
  height: 100%;
}

.section {
  height: 50%;
  box-sizing: border-box;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--secondary-bg);
  border-style: solid;
  border-color: var(--border-color);
  box-sizing: border-box;
}

.sectionTitle :nth-child(1) {
  width: 25%;
}

.sectionTitle :nth-child(2) {
  width: 50%;
}

.sectionTitle :nth-child(3) {
  width: 10%;
}

.sectionTitle :nth-child(4) {
  width: 15%;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unstagedSectionTitle {
  border-width: 0 0 1px 0;
}

.stagedSectionTitle {
  border-width: 1px 0 1px 0;
}

.fileChangeItem {
  user-select: none;
  background-color: transparent;
  height: 25px;
  padding: 5px;
  padding-left: 10px;
  margin: 0;
  border-radius: 0;
}

.fileChangeItem:hover {
  background-color: var(--lighter-bg);
  cursor: pointer;
}
