hr {
  width: 100%;
  margin: 10px 0px;
}

.infoSidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  height: 100%;
  gap: 5px;
  box-sizing: border-box;
}

.content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.title {
  font-size: var(--font-size-subtitle);
  margin-bottom: 10px;
}

.authorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.commitContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commitInfoField {
  display: flex;
  gap: 10px;
}

.shaField {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  color: var(--secondary-text);
  user-select: none;
}

.value {
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
}

.copyBtn {
  padding: 5px;
  border-radius: 5px;
  transition: 0.1s ease;
}

.copyBtn:hover {
  background-color: var(--lighter-bg);
}

/*TODO: CREO QUE ESTO NO HACE NADA
* .patch {
  background-color: var(--lighter-bg);
  padding: 5px;
  border-radius: 4px;
  font-family: monospace;
  white-space: pre-wrap;
  margin-top: 5px;
}*/

.copyWrapper {
  position: relative;
  display: inline-block;
}

.copyBtn {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-bg);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
