.accordion {
  margin-bottom: 10px;
}

.remotesContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.remotesAccordion {
  flex: 1;
  margin-bottom: 0;
}

.remotesButton {
  min-width: 25px;
  min-height: 25px;
  margin: 3px 16px 0 16px;
  width: fit-content;
  height: auto;
  border-radius: 5px;
  transition: 0.1s ease;
}

.remotesButton svg {
  width: var(--icon-primary-size);
  height: var(--icon-primary-size);
}

.remotesButton:hover {
  background-color: var(--lighter-bg);
}

.actionSidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  height: 100%;
  padding: 10px;
}

.actionSidebar ul {
  padding: 0;
  margin-top: -5px;
}

.actionSidebar ul li {
  width: 100%;
}

.actionSidebar ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35px;
}

.remoteEntries {
  margin-left: 35px !important;
}

.remoteAccordion div ul {
  margin-left: 25px !important;
}

.remoteAccordion div ul li {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.remoteAccHeader {
  flex-direction: row !important;
}

.activeIndicator {
  width: 10px;
  height: 10px;
}
