.accordion {
  margin-bottom: 10px;
}

.actionSidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  height: 100%;
  padding: 10px;
}

.actionSidebar ul {
  padding: 0;
  margin-top: -5px;
}

.actionSidebar ul li {
  width: 100%;
}

.actionSidebar ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35px;
}

.remoteEntries {
  margin-left: 35px !important;
}

.remoteAccordion div ul {
  margin-left: 25px !important;
}

.remoteAccordion div ul li {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.remoteAccHeader {
  flex-direction: row !important;
}

.activeIndicator {
  width: 10px;
  height: 10px;
}
