.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  -webkit-app-region: drag;
}

.windowTabs {
  display: flex;
  margin-left: 5px;
  -webkit-app-region: no-drag;
}

.workspaceIcon {
  width: 20px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1 ease;
}

.workspaceIcon:hover {
  background-color: var(--lighter-bg);
}
