:root {
  /* COLORS */
  --primary-bg: #121212;

  --secondary-bg: #1A1A1A;

  --tertiary-bg: #242424;

  --lighter-bg: #343a40;

  --border-color: #0f0f0f;


  --primary-text: #d1d5db;

  --secondary-text: #868e96;


  --link-color: #7FDBFF;

  --active-color: #50FA7B;

  --modal-bg: rgba(0, 0, 0, 0.5);

  --file-added: #4CAF50;

  --file-removed: #F44336;

  --file-changed: #FF9800;


  /* FONT SIZES */
  --font-size-title: 24px;

  --font-size-subtitle: 20px;

  --font-size-header: 18px;

  --font-size-tab: 14px;

  /* ICON SIZES */
  --icon-primary-size: 20px;

  --icon-secondary-size: 15px;
}
