:root {
  /* BG COLORS */
  --primary-bg: #121212;

  --secondary-bg: #1A1A1A;

  --tertiary-bg: #242424;

  --lighter-bg: #343a40;

  --border-color: #0f0f0f;


  /* FONT COLORS */
  --primary-text: #d1d5db;

  --secondary-text: #868e96;

  --tertiary-text: #404040;

  --contrast-text: #121212;


  /* FILE CHANGE ITEM COLORS */
  --file-added: #4CAF50;

  --file-removed: #F44336;

  --file-changed: #FF9800;

  /* Diff colors */
  --line-added: rgba(76, 175, 80, 0.4);

  --line-deleted: rgba(244, 67, 54, 0.4);

  /* MISC COLORS */
  --link-color: #40afff;

  --active-color: #50FA7B;

  --modal-bg: rgba(0, 0, 0, 0.5);

  --warning-color: #FFD54F;

  --error-color: #CE2029;

  /* FONT SIZES */
  --font-size-title: 24px;

  --font-size-subtitle: 20px;

  --font-size-header: 18px;

  --font-size-tab: 14px;

  --font-size-small: 10px;


  /* ICON SIZES */
  --icon-primary-size: 20px;

  --icon-secondary-size: 15px;

  --icon-badge-size: 12px;

  /* OTHER */
  --app-font: 'CaskaydiaMonoNerdFont', 'Cascadia Code', 'Consolas', 'Courier New', 'Monaco', 'Andale Mono', 'Lucida Console', monospace;

  /* CUSTOM THEME */
  --custom-primary-bg: #0f172a;
  --custom-secondary-bg: #1e293b;
  --custom-tertiary-bg: #334155;
  --custom-lighter-bg: #475569;
  --custom-border-color: #64748b;

  --custom-primary-text: #d1d5db;
  --custom-secondary-text: #868e96;
  --custom-tertiary-text: #404040;
  --custom-contrast-text: #0f172a;
}

[data-theme="gittaur"] {
  --primary-bg: #0f172a;
  --secondary-bg: #1e293b;
  --tertiary-bg: #334155;
  --lighter-bg: #475569;
  --border-color: #64748b;

  --primary-text: #d1d5db;
  --secondary-text: #868e96;
  --tertiary-text: #404040;
  --contrast-text: #0f172a;
}

[data-theme="dark"] {
  --primary-bg: #121212;
  --secondary-bg: #1A1A1A;
  --tertiary-bg: #242424;
  --lighter-bg: #343a40;

  --primary-text: #d1d5db;
  --secondary-text: #868e96;
  --tertiary-text: #404040;
  --contrast-text: #121212;
}

[data-theme="light"] {
  --primary-bg: #ffffff;
  --secondary-bg: #f5f5f5;
  --tertiary-bg: #e9e9e9;
  --lighter-bg: #d4d4d4;
  --border-color: #e0e0e0;

  --primary-text: #333333;
  --secondary-text: #555555;
  --tertiary-text: #666666;
  --contrast-text: #ffffff;
}

[data-theme="custom"] {
  --primary-bg: var(--custom-primary-bg);
  --secondary-bg: var(--custom-secondary-bg);
  --tertiary-bg: var(--custom-tertiary-bg);
  --lighter-bg: var(--custom-lighter-bg);
  --border-color: var(--custom-border-color);

  --primary-text: var(--custom-primary-text);
  --secondary-text: var(--custom-secondary-text);
  --tertiary-text: var(--custom-tertiary-text);
  --contrast-text: var(--custom-contrast-text);
}
